<footer class="text-center bg-black text-white mt-5 mb-0 py-2 d-block">
  <figure class="text-center mb-0">
    <blockquote class="blockquote">
      <p class="pb-0" id="footerContainer"></p>
    </blockquote>
    <figcaption class="blockquote-footer mb-0">
      By <cite title="Source Title" id="quoteAuthor"></cite>
    </figcaption>
  </figure>
</footer>

<script>
  const footer = document.getElementById("footerContainer");
  const quoteAuthor = document.getElementById("quoteAuthor");

  document.addEventListener("DOMContentLoaded", function () {
    fetch(`http://api.quotable.io/random`)
      .then((response) => response.json())
      .then((data) => {
        // console.log(data);
        footer.style.fontSize = "12px";
        quoteAuthor.style.fontSize = "12px";
        footer.innerHTML = data.content;
        quoteAuthor.innerHTML = data.author;
      });
  });
</script>
